/* Account Page */
#customer_login form {
	min-height: 290px;
}
.woocommerce-account .hentry{
	max-width: 100%;
	margin: 0;
}

nav.woocommerce-MyAccount-navigation ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav.woocommerce-MyAccount-navigation ul li{
  font-size: 18px;
  text-decoration: none;
  transition: all .3s ease;
  border-bottom: 1px solid rgba(141,11,57,.5);
  border-radius: 0;
  font-family: 'AlegreyaSC-Bold', sans-serif;
  font-weight: bold;
  font-style: normal;
}

nav.woocommerce-MyAccount-navigation ul li a {
	display: block;
	padding: 10px 15px;
}

nav.woocommerce-MyAccount-navigation ul li.is-active {
	background: #800020;
}

nav.woocommerce-MyAccount-navigation ul li.is-active a {
	color: #fff !important;
}

.woocommerce-MyAccount-navigation-link--downloads {
	display: none;
}


.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 100%;
	max-width: 50%;
	margin: 0 auto;
}

.woocommerce-account .woocommerce-MyAccount-content {
	width: 100%;
	padding-top: 3rem;
}

@media screen and (min-width: 920px) {
	.woocommerce-account .woocommerce-MyAccount-navigation {
		width: 20%;
		max-width: initial;
		margin: initial;
	}

	.woocommerce-account .woocommerce-MyAccount-content {
		width: 80%;
		padding-left: 3rem;
		padding-top: 0;
	}
}

/* Calendar on Events Page */
#secondary .box-events h1 {
	max-width: 350px;
	margin: 50px auto 20px;
	color: #fff;
}

#secondary #calendar {
	padding-top: 20px;
	margin: 0 auto;
}

#secondary #calendar .fc-toolbar h2 {
	color: #fff;
	letter-spacing: 1.5px;
}

#secondary #calendar thead th.fc-day-header.fc-widget-header {
	color: #fff;
}
/* Ribbon */

.woocommerce.single-product .product {
	position: relative;
	/*max-width: 100%;*/
}

.woocommerce.single-product .wrap-price {
	padding-top: 60px;
}

.woocommerce.single div.product div.summary form.cart {
	position: relative;
}

.woocommerce.single div.product .ribbon-top-right {
	right: 0;
	top:  0;
}

.box {
  position: relative;
  width: 100%;
}

.ribbon {
  width: 130px;
  height: 130px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  /*border: 5px solid #2980b9;*/
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 5px 0;
  background-color: #800020;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font-size: 14px;
  line-height: normal;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon-top-right {
  top: -10%;
  right: -13%;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* Hide underlined original price */
/*.woocommerce.single div.product div.summary div.price del,
.woocommerce ul.products li.product .price del {
	display: none;
}*/
.woocommerce.single div.product div.summary div.price ins,
.woocommerce ul.products li.product .price ins {
	text-decoration: none;
}

/* Shop Sidebar Filter */
/*
ul.product-categories > li a {
	margin-left: 20px;
	position: relative;
}

ul.product-categories >li.cat-parent > a::before {
    content: "\f107";
    font-family: vini;
    font-size: 24px;
    font-size: 1.25rem;
    position: absolute;
    left: -20px;
    top: -5px;
    color: #ccc;
}

ul.product-categories > li.cat-parent.current-cat > a::before{
	content: "\f106";
}
*/
/*Hamper Edit*/

.section-hamper-preview .wrap-product-thumbnail {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	
}

.hamper-bar-edit-mode .hamper-items .wrap .image {
	height: 250px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/*Search Result Page*/

.search-result-list li div .wrap-product-thumbnail {
	max-height: 220px;
    margin-bottom: 10px;
    min-height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

p.cart-empty.woocommerce-info {
	display: none;
}
/* MyPOS */
li.payment_method_mypos_virtual label img {
	display: none;
}

li.payment_method_mypos_virtual label{
    display: inline-block;
    position: relative;
}

li.payment_method_mypos_virtual label::after {
	content: "";
	display: block;
	background: url("../images/mypos-card-logo.png") no-repeat center center;
	background-size: contain;
	width: 300px;
	height: 50px;
}

@media screen and (min-width: 520px){
	li.payment_method_mypos_virtual label::after {
		width: 450px;
	}
}

@media screen and (min-width: 920px){
	li.payment_method_mypos_virtual label::after {
		display: inline-block;
		width: 650px;
		height: 100px;
	    position: absolute;
	    top: -35px;
	}
}

/*Site Header*/
.wrapper-text-ads {
	background-color: #8d0b39;
	color: #fff;
}

.wrapper-text-ads .inner {
	text-align: center;
	padding: 5px 15px;
}

.wrapper-text-ads .inner p {
	margin: 0;
}

@media screen and (max-width: 767px){
	.single.single-event .image {
		min-height: 280px;
		display: flex;
		align-items: center;
	}

	.single.single-event .image .entry-header .entry-title {
		position: initial;
		top: initial;
		left: initial;
		transform: initial;
	}
}

/* Festive Season Page*/
.box-event-festive-season {
	position: relative;
	z-index: 15;
}

@media screen and (min-width: 967px){
	.box-event-festive-season .widget-area-full {
		background-color: transparent;
	}
}

@media screen and (max-width: 967px){
	.widget-area-full .box-recent-news .recent-news-ul .recent-news-li a.more-link {
		bottom: 6rem !important;
	}
	.widget-area-full .box-recent-news .recent-news-ul .recent-news-li,
	.widget-area-full .box-recent-news .recent-news-ul .recent-news-li a.news-img {
		min-height: 550px !important;
	}
}

@media screen and (max-width: 598px){
	.festive-our-menus .wp-block-columns.has-2-columns h2,
	.festive-our-menus .wp-block-columns.has-2-columns h5
	{
		text-align: center !important;
	}
}

@media screen and (max-width: 767px){
	.festive-catalog #kt-adv-heading_985056-b0,
	.festive-opening-hours h2 {
		text-align: center !important;
	}
}

@media screen and (max-width: 767px){
	.festive-opening-hours .kt-block-spacer .kt-divider {
		left: 50% !important;
    	transform: perspective(1px) translate(-50%, -50%) !important;
	}
}

.box-event-festive-season .widget-area-full .box-recent-news .recent-news-ul {
	justify-content: center;
}

.box-event-festive-season .widget-area-full::before {
	height: 0;
}

.festive-our-menus {
	position: relative;
	z-index: 10;
	margin-top: -150px;
}

.festive-our-menus .wp-block-columns.has-2-columns {
	margin-bottom: 30px
}

.festive-our-menus .wp-block-columns.has-2-columns h2 {
	font-family: 'ActaDeck-Bold', sans-serif;
}

.festive-terms ol {
	padding-left: 15px;
	list-style: none; 
	counter-reset: li;
}

.festive-terms ol li{
	margin-bottom: 30px;
	margin-left: 15px;
	position: relative;
	counter-increment: li;
}

.festive-terms ol li::before {
	content: counter(li); 
	color: #fff;
	display: block; 
	width: 19px;
	height: 19px;
	border-radius: 19px;
	margin-left: -30px;
	background-color: #8D0B39;
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 3px;
	font-weight: bold;
}

/* Scrollable Cart */
#fixed-cart-group {
	position: absolute;
	top: 130px;
	right: 0;
	height: 200px;
	z-index: 9;
}

#view_basket_contents {
	background: url(../assets/build/images/view_basket_contents.png) no-repeat center center;
	width: 112px;
	height: 137px;
	position: absolute;
	top: 0;
	right: 0;
}

#scrollable_cart {
	width: 890px;
	border: 1px solid #bfbfbf;
	background-color: #f8f8f8;
	position: absolute;
	right: 107px;
	top: 4px;
	display: none;
}

#scrollable_cart .left {
	width: 634px;
	float: left;
	padding: 20px 25px;
}

#scrollable_cart .left .sc_title {
	font-size: 17px;
	font-style: italic;
	color: #3e3e3e;
	font-family: 'Philosopher', sans-serif;
}

#scrollable_cart .hamper_container {
	padding-top: 10px;
	padding-bottom: 5px;
}

#scrollable_cart .hamper_container .hamper_meta {
	color: #000;
	padding-bottom: 8px;
	border-bottom: 1px solid #c0bebf;
}

#scrollable_cart .hamper_container .hamper_meta .hamper_title {
	float: left;
	text-transform: uppercase;
	line-height: 18px;
}

#scrollable_cart .hamper_container .hamper_meta .percent_full {
	padding-left: 30px;
	float: left;
	color: #000;
	font-size: 13px;
	line-height: 18px;
}

#scrollable_cart .hamper_container .hamper_meta .percent_full .pct {
	color: #8d0e3a;
	font-size: 19px;
	line-height: 18px;
}

#scrollable_cart .hamper_container .hamper_meta .delete_hamper {
	display: inline-block;
	float: right;
	color: #8d0e3a;
	text-decoration: underline;
	line-height: 18px;
	font-size: 12px;
	padding-right: 50px;
}

#scrollable_cart .hamper_container .hamper_meta .delete_hamper:hover {
	text-decoration: none;
}

#scrollable_cart ul {
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
}

#scrollable_cart ul li {
	position: relative;
	float: left;
	width: 87px;
	height: 117px;
	margin-right: 6px;
	margin-bottom: 7px;
	border: 1px solid #d3d3d3;
	padding: 5px;
}

#scrollable_cart ul li a.bin {
	background: #939393 url('../assets/build/images/bin.jpg') no-repeat left top;
	width: 20px;
	height: 19px;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}

#scrollable_cart ul li .image {
	height: 65px;
}

#scrollable_cart ul li .title {
	color: #000;
	font-size: 11px;
	line-height: 12px;
	display: block;
	padding: 4px;
	height: 28px;
	overflow: hidden;
}

#scrollable_cart ul li .price {
	font-family: 'Philosopher', sans-serif;
	display: block;
	float: left;
	color: #8d0e3a;
	font-size: 14px;
	line-height: 14px;
}

#scrollable_cart ul li input {
	display: block;
	width: 15px;
	height: 13px;
	float: right;
	text-align: right;
	border: 1px solid #b2b2b2;
	color: #4d4d4d;
	font-size: 10px;
	line-height: 13px;
	padding: 0;
	text-align: center;
}

#scrollable_cart .right {
	float: left;
	width: 203px;
}

#scrollable_cart .right div.total {
	background-color: #ebebeb;
	width: 155px;
	border: 1px solid #e6e6e6;
	padding: 16px;
	margin-top: 54px;
}

#scrollable_cart .right div.total input {
	font-size: 12px;
}

#scrollable_cart .right .total_text {
	color: #3e3e3e;
	font-size: 17px;
}

#scrollable_cart .right .euro_symb {
	color: #8d0e3a;
	font-size: 22px;
}

#scrollable_cart .right .total {
	color: #8d0e3a;
	font-size: 27px;
}

#scrollable_cart .gray_btn {
	margin-top: 29px;
	margin-bottom: 7px;
}

/* Wine Packaging System */
.wine-packager {
	clear: both;
}

/* generic */
.wine-packager .wine {
}

.wine-packager .wine .large_image img {
	width: auto;
	max-height: 100%;
}

/* wine list */
.wine-packager .wine-list {
	overflow: hidden;
}

.wine-packager .wine-list .wine {
	width: 25%;
	float: left;
}

.wine-packager .wine-list .wine .image {
	text-align: center;
}

.wine-packager .wine-list .wine .large_image {
	display: none;
}

.wine-packager .wine-list .wine .title {
	padding: 10px 0;
}

.wine-packager .wine-list .wine .close {
	display: none;
}

/* Box Builder */
.wine-packager .box-builder {
	overflow: hidden;
}

.wine-packager .box-builder .add-box {
	height: 178px !important;
	width: 218px;
	cursor: pointer;
	background-color: #ccc;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	padding-top: 80px;
	border: 2px dotted #eee;
	line-height: 30px
}

.wine-packager .box-builder .add-box:hover {
	background: #eee;
}

.wine-packager .box-builder .add-box span {
	font-size: 13px;
	font-weight: normal;
	line-height: 15px;
}

.wine-packager .box-builder .box {
	height: 260px;
	float: left;
	margin: 0 10px 10px 0;
	background: #fafafa;
	position: relative;
}

.wine-packager .box-builder .box .info {
	width: 100%;
	height: 130px;
	overflow: hidden;
}

.wine-packager .box-builder .box .info .image {
	float: left;
	width: 74px;
	padding-left: 10px;
	padding-top: 40px;
}

.wine-packager .box-builder .box .info .image img {
	width: 100%;
}

.wine-packager .box-builder .box .info .meta-info {
	float: left;
}

.wine-packager .box-builder .box .info .meta-info .metaWrap {
	padding: 40px 10px 0;
}

.wine-packager .box-builder .box h5 {
	display: none;
}

.wine-packager .box-builder .box .material,
.wine-packager .box-builder .box .capacity {
}

.wine-packager .box-builder .box .box-options {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	text-align: right;
	font-size: 11px;
	background: #eee;
	text-align: center;
	padding: 5px 10px;
}

.wine-packager .box-builder .box .slot {
	width: 106px;
	height: 130px;
	float: left;
	background-color: #eee;
	border: 1px solid #eee;
	margin: 0 1px 0 0;
}

.wine-packager .box-builder .box .slot.highlight {
	border-color: #8d0e3a;
	background: #fff
}

.wine-packager .box-builder .slot .wine {
	clear: both;
	position: relative;
	height: 100%;
	background-color: #fff;
}

.wine-packager .box-builder .slot .image,
.wine-packager .box-builder .slot .title {
	display: none;
}

.wine-packager .box-builder .slot .large_image {
	height: 100%;
	text-align: center;
}

.wine-packager .box-builder .slot .close {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	display: block;
}

/* Dragging */
.wine-packager .wine.ui-draggable-dragging .image,
.wine-packager .wine.ui-draggable-dragging .title {
	display: none;
}

.wine-packager .wine.ui-draggable-dragging {
	display: block;
	width: 86px;
	height: 92px;
	border: 1px solid #d8d8d8;
}

.wine-packager .wine.ui-draggable-dragging .large_image {
	display: block;
}

/* Box Preview */
#box-editor .box-preview {
	overflow: hidden;
}

#box-editor .box-preview.hidden {
	display: none;
}

#box-editor .box-preview .image {
	width: 30%;
	float: left;
}

#box-editor .box-preview .info {
	float: right;
	width: 65%;
	margin-top: 6px;
}

#wine-advertisement {
	display: none;
	background: url('../images/bg-winead.jpg') no-repeat;
	width: 780px;
	height: 56px;
	padding-top: 400px;
	padding-right: 20px;
	text-align: right;
}

#wine-advertisement a {
	color: #000;
}

#wine-advertisement a.button {
	background: #8d0e3a;
	color: #fff;
}

.packaging-options {
	clear: both;
	padding-bottom: 20px;
}

.content-packaging-options {
	height: 65px;
}

.isSellable {
	background-color: #2d2c31;
	color: #fff;
	font-size: 16px;
}

.isSellable .qty2 {
	color: #fff !important;
	font-size: 13px;
	font-size: .8125rem;
	font-family: AlegreyaSC !important;
	font-weight: bold !important;
	letter-spacing: 1px;
	width: 75px;
	height: 40px;
	float: left;
	padding: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-right: 1px solid #4d4d51;
	text-align: center;
}

.isSellable button {
	border: 0px !important;
	color: #fff;
	background-color: #2d2c31;
	float: left;
	width: 30px;
	height: 50px;
	text-align: center;
	outline: 0;
}

.isSellable button:hover {
	background-color: #000;
	cursor: pointer;
}

.isSellable .wrapper-button.subtract,
.isSellable .wrapper-button.add {
	float: left;
}

.isSellable input {
	border: 0px !important;
	color: #fff;
	background-color: #000;
	float: left;
	width: 45px;
	height: 50px;
	text-align: center;
}

.box-ticket .purchase-ticket a {
	float: right;
	margin-left: 10px;
	background-image: url(../images/ticket.png);
	background-repeat: no-repeat;
	background-position: 10px 12px;
	background-color: #8d0b39;
	color: #fff;
	padding: 17.5px 17px 16px 55px;
	font-weight: bold;
	cursor: pointer;
}

.box-ticket .purchase-ticket a:hover {
	background-color: #790930;
}

.box-ticket .purchase-ticket a {
	color: #fff !important;
	text-transform: uppercase;
}

.isSellableRight {
	height: 50px;
}

.isSellableRight .added_to_cart {
	display: none;
}

.interestedEvent {
	float: left;
	height: 50px;
}

.box-ticket	input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.single.single-event .box-ticket {
	overflow: hidden;
}

ul#alertStock {
	display: none;
	margin-bottom: 0px !important;
}

#eventAlert {
	width: 300px;
	height: 170px;
	position: absolute;
	left: 36%;
	border: 1px solid #ccc;
	z-index: 200;
	text-align: center;
	box-shadow: -2px 3px 28px 3px rgba(0, 0, 0, 0.75);
	background-color: #fff;
	text-align: center;
	border-top: 3px solid #bf3465;
}

#eventAlert h2.box-event {
	color: #bf3465;
	font-family: ActaDeck-Medium;
	font-size: 36px;
	font-size: 2.25rem;
	max-width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#eventAlert #closeAlert {
	color: #bf3465;
	font-weight: bolder;
	size: 24px;
	float: right;
	margin: 5px;
	cursor: pointer;
}

.product-desc-hidden {
	display: none;
}

#alertQuanitityAdded {
	margin-bottom: 20px;
}

.single.single-event .box-ticket .interestedEvent {
	color: #858588;
	font-size: 13px;
	font-size: .8125rem;
	font-family: AlegreyaSC-BoldItalic;
	letter-spacing: 1px;
	text-transform: uppercase;    /* padding-top: 29px; */
	margin-top: 20px;
}

.bg-black {
	background-color: #000000;
}

.bg-black-2 {
	background-color: #24242A;
}

.text-white {
	color: #ffffff;
}

.section-header h2 {
	text-align: center;
	font-family: 'ActaDeck-Medium', sans-serif;
	font-size: 30px;
	font-weight: 500;
}

.section-header h2::after {
	content: "";
	display: block;
	height: 1px;
	width: 74px;
	margin: 33px auto;
	background-color: #C3AB7D;
}

.new-concept .slider {
	max-width: 1300px;
	margin: 0 auto;
}

.new-concept .section-2.group .content-pad ,	
.new-concept .section-1.group .content-pad {	
	padding: 50px;	
}	
.new-concept section:not(:first-of-type) .content-pad {	
	padding: 20px 50px;	
}	
/* section#art-events-suite {	
	padding-top: 30px;	
} */	
.new-concept section:not(:first-of-type) {	
	padding: 25px;	
}	

.new-concept section#the-wine-cellar {	
	padding-bottom: 80px;	
}


#art-events-suite .section-2 .btn {
	min-width: 215px;
}

.new-concept section .gallery {
	text-align: center;
}

.new-concept section .gallery figure {
	margin: 10px;
}

.new-concept .slick-list {
	/* padding-left: 50px;
	padding-right: 50px; */
}

.new-concept section .slick-next {
	right: 5px;
}

.new-concept section .slick-prev {
	left: 5px;
}

/**
 * Butchers Page
 */
.about.section-1,
.butcher.section-3,
.butcher.section-1 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.butcher h2 {
	font-size: 30px;
	line-height: 22px;
	font-family: 'ActaDisplay-Medium', sans-serif;
	margin-bottom: 30px;
}

.about.section-1 .ezcol-one-half:first-of-type,
.butcher.section-3 .ezcol-one-half:last-of-type,
.butcher.section-1 .ezcol-one-half:first-of-type {
	padding: 50px 60px;
}

.butcher.section-2 {
	min-height: 631px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.butcher.section-2::after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.68);
	visibility: initial;
}

.butcher.section-2 h2 {
	font-family: 'ActaDisplay-Medium', sans-serif;
	font-size: 40px;
	color: #fff;
	margin-bottom: 0;
	position: relative;
	z-index: 1;
}

.butcher.section-2 h2::after {
	content: "";
	display: block;
	height: 1px;
	width: 74px;
	margin: 35px auto;
	background-color: #C3AB7D;
}

.butcher.section-2 h2::before {
	content: "";
	display: block;
	width: 73px;
	height: 105px;
	background-image: url('../images/quality.svg');
	margin: 0 auto 35px;
}

.butcher.section-2 p {
	max-width: 598px;
	margin: 0px auto;
	font-family: 'Acta-Book', sans-serif;
	font-size: 14px;
	line-height: 21px;
	position: relative;
	z-index: 1;
}

/**
 * About Us
 */
section.our-team {
	padding: 75px 15px;
}

section.our-team .section-header h2::after {
	content: none;
}

section.our-team .box-team {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

section.our-team .box-team .item {
	width: 25%;
	text-align: center;
}

section.our-team .box-team .item .item-info {
	padding: 13px;
	font-family: 'ActaDeck-Book', sans-serif;
	font-size: 16px;
	font-weight: normal;
}

section.our-team .box-team .item .item-info .image {
	max-width: 308px;
	height: 356px;
	margin: 0 auto 30px;
	background-color: #EEEEEE;
	background-size: cover;
	background-position: center;
	display: block;
	overflow: hidden;
}

section.our-team .box-team .item p.item-content {
	font-style: italic;
}

section.our-team .box-team .item .item-info h4 {
	font-size: 20px;
	font-family: "ActaDeck-Bold", sans-serif;
	font-weight: bold;
	position: relative;
	margin-bottom: 15px;
}

section.our-team .box-team .item .item-info h4::after {
	content: "";
	display: block;
	height: 1px;
	width: 64px;
	margin: 15px auto;
	background-color: #D9D9D9;
}

section.subpage-navigation {
	background-color: #000000;
}

.subpage-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.subpage-navigation ul li a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 18px;
	padding: 30px;
	display: block;
	font-family: AlegreyaSC-Regular;
	transition: all 0.3s ease-in-out;
}

.subpage-navigation ul li a:hover {
	color: #8d0b39;
}

.woocommerce.single .related.products ul.products {
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 60px !important;
}

.woocommerce ul.products li.product .onsale {
	background-image: url('../images/badge-red.svg');
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	height: 80px;
	width: 80px;
	text-transform: uppercase;
	margin: 0 5px 0 0;
	font-family: AlegreyaSC-Bold;
	font-size: 18px;
	line-height: 70px;
}

.woocommerce ul.products li.product .new.onsale {
	background-image: url('../images/badge-black.svg');
}

.woocommerce ul.products li.product .bestseller.onsale {
	background-image: url('../images/badge-gold.svg');
	line-height: normal;
}

.woocommerce ul.products li.product .bestseller.onsale span.best {
	display: block;
	margin-top: 15px;
	margin-bottom: -5px;
}

.woocommerce ul.products li.product .bestseller.onsale span.seller {
	display: block;
	font-size: 13px;
}

.hamper-bar-wrapper .hamper-bar .btn {
	line-height: 26px;
}

/*
 HOME PARTNERS
 */

#partners .slick-slide img {
	margin: 0 auto;
}

#partners .slick-next {
	right: 0;
}

#partners .slick-prev {
	left: 0;
} 

#partners .slick-list{
	margin: 50px 75px;
}

#partners .slick-track {
	display: flex;
	align-items: center;
	justify-content: center;
}

#partners .item .item-content {
	padding: 20px;
}


.box-calendar {
	background-color: #3B3B3B;
}

a.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end:hover {
	text-decoration: underline;
}

.fc-button-primary:hover {
	border-color: transparent !important;
}
.fc-button-primary:not(:disabled):active, 
.fc-button-primary:not(:disabled).fc-button-active {
	background-color: transparent !important;
	border-color: transparent !important;
}

.box-calendar h3 {
	position: relative;
	max-width: 80%;
	margin: 32px auto;
	margin: 2rem auto;
	color: #fff;
	font-family: ActaDeck-Light;
	font-size: 33px;
	font-size: 2.0625rem;
	font-weight: 300;
	font-style: normal;
}

.fc-ltr .fc-dayGrid-view .fc-day-top {
	/* padding: 10px !important; */
}

.fc-icon-left-single-arrow:after {
	content: "\02039";
	font-weight: 700;
	font-size: 20px;
	top: -3px;
}

.fc-icon-right-single-arrow:after {
	content: "\0203A";
	font-weight: 700;
	font-size: 20px;
	top: -3px;
}
 
.box-calendar .fc-toolbar h2 {
	margin-left: 3px;
}

body .fc {
	max-width: 350px;
}

thead th.fc-day-header.fc-widget-header {
	font-family: ActaDeck-Light;
	text-transform: uppercase;
	padding: 10px 5px;
	background-color: #000;
	border-color: #3B3B3B;
}

table tbody,
table tbody td,
thead.fc-head,
tbody.fc-body {
	/* border: initial !important; */
}

/** date with event */
.fc-day:first-child > div:first-child,
.fc-body,
.fc-widget-content {
	position: relative;
}
.fc-row .fc-content-skeleton {
	position: absolute !important;
	height: 100% !important;
	display: block !important;
	padding-bottom: 0 !important;
}

.fc-day-grid-event .fc-content {
	white-space: initial !important;
}

.fc-content .fc-title {
	color: transparent;
}

.fc .fc-row .fc-content-skeleton table {
	height: 100%;
}

.fc-unthemed .fc-disabled-day {
	background: transparent !important;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
	border-color: #3B3B3B !important;
}

.fc-toolbar.fc-header-toolbar {
	margin-bottom: 5px;
}

.fc .fc-row .fc-content-skeleton table,
.fc .fc-row .fc-content-skeleton td,
.fc .fc-row .fc-mirror-skeleton td {
	font-size: 20px;
	color: #fff;
	position: relative;
}

.fc-unthemed td.fc-today {
	background-color: none !important;
}

.fc-ltr .fc-basic-view .fc-day-top.fc-state-highlight .fc-day-number,
.fc-unthemed td.fc-today {
	background-color: #8c8989 !important;
	color: #000 !important;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number,
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
	display: block;
	float: none !important;
	text-align: center;
	/* padding: 17.5px 15px; */
	position: absolute;
 	z-index: 1;
 	top: 16px;
  left: 0;
  right: 0;
  margin: auto;
}

.fc .fc-row .fc-content-skeleton table,
.fc .fc-row .fc-content-skeleton td,
.fc .fc-row .fc-mirror-skeleton td {
	background: #787878 !important;
}

.fc-bgevent {
	background-color: #a22b56;
	opacity: 1 !important;
}

.fc-dayGrid-view .fc-body .fc-row {
	min-height: auto;
}

.fc-dayGrid-view .fc-day-number {
	position: absolute;

}

a.fc-day-grid-event.fc-h-event.fc-event.fc-start:hover {
	text-decoration: none;
}

tr:first-child > td > .fc-day-grid-event {
	margin-top: 0 !important;
	margin: 0;
	/* background-color: #a22b56 !important; */
	border: 0 !important;
	font-size: 13px !important;
	padding: 0 !important;
	color: #fff !important;
	display: block;
	border-radius: 0;
	text-align: center;
	height: 100% !important;
}

.fc-basic-view .fc-body .fc-row {
	min-height: 100%;
}

.fc-left {
	margin: 0 !important;
}

.fc-toolbar.fc-header-toolbar {
	margin-bottom: 5px !important;
}

.fc-toolbar h2 {
	font-size: 15px !important;
	text-transform: uppercase;
}

.fc-row .fc-bg {
	background: #787878 !important;
	z-index: 1;
}

.fc-button-group button[type="button"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	background: transparent;
}

.fc-toolbar.fc-header-toolbar {
	position: relative;
}

.fc-toolbar.fc-header-toolbar .fc-right {
	position: absolute;
	right: 0;
	top: -12px;
}

.fc-button-group button[type="button"] .fc-icon {
	width: auto;
	height: auto;
	text-shadow: none;
	color: #fff;
}

#calendar div.fc-content-skeleton > table > thead > tr > td.day-has-event {
	background-color: #a22b56 !important;
}

.home.section-1 .flex-item .content {
	padding: 0 50px;
}

div.wrap-banner {
	position: relative;
}

div.wrap-banner div.wrap-icon {
	position: absolute;
	right: 10%;
	top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

div.wrap-banner div.wrap-icon * {
	transition: all 0.3s ease;
}

div.wrap-banner div.wrap-icon a:hover img {
	transform: scale(1.1);
}

div.wrap-icon span {
	text-transform: uppercase;
	display: block;
	color: #C3AB7D;
	margin-top: 10px;
	font-weight: bold;
	font-size: 14px;
}


@media only screen and (min-width:1300px){

	.new-concept .slider {
		padding-left: 30px;
    padding-right: 30px;
	}
	.new-concept section .slick-next {
		right: -30px;
	}

	.new-concept section .slick-prev {
		left: -30px;
	}
}

@media only screen and (min-width:751px) and (max-width:1200px) {
	.box-ticket .purchase-ticket a {
		margin-bottom: 20px;
		margin-left: 0px;
		margin-right: 30%;
		font-size: 12.5px;
	}

	.isSellable {
		margin-right: 30%;
	}

	.about.section-1 .ezcol-one-half:first-of-type,
	.butcher.section-3 .ezcol-one-half:last-of-type,
	.butcher.section-1 .ezcol-one-half:first-of-type {
		padding: 30px !important;
	}

	section.our-team .box-team .item {
		width: 50%;
	}

	.woocommerce.single .related.products ul.products li.product {
		max-width: 33%;
		min-width: 33%;
		width: 33%;
	}

	.woocommerce.single .related.products ul.products li.product:nth-child(3) {
		border-right: 0;
	}

}

@media only screen and (max-width:960px) {
 	.widget-area-full .box-recent-news .recent-news-ul .recent-news-li {
 		/* min-height: 350px !important; */
 		height: auto;
 		max-width: 550px;
 		margin: 0 auto;
 	}

 	.widget-area-full .box-recent-news .recent-news-ul .recent-news-li a.news-img {
 		min-height: 450px;
 		background-position: center;
 	}

 	
}

@media only screen and (max-width:768px) {
	.box-ticket .purchase-ticket a {
		margin-bottom: 20px;
		margin-left: 0px;
		margin-right: 21%;
		font-size: 12.5px;
	}

	.isSellable {
		margin-right: 21%;
	}

	.about.section-1 .ezcol-one-half:first-of-type,
	.butcher.section-3 .ezcol-one-half:last-of-type,
	.butcher.section-1 .ezcol-one-half:first-of-type {
		padding: 30px !important;
	}

	section.our-team .box-team .item {
		width: 100%;
	}

	.new-concept .section-2.group .content-pad ,	
	.new-concept .section-1.group .content-pad {	
		padding: 25px !important;	
	}	
	.new-concept section:not(:first-of-type) .content-pad {	
		padding: 0 !important;	
	}	
	.new-concept section:not(:first-of-type) .ezcol:first-of-type .content-pad {	
		padding-bottom: 0 !important;	
	}	
	/* .new-concept section:not(:first-of-type) .ezcol:last-of-type .content-pad {	
		padding: 0 25px 50px 25px !important;	
	} */	

	.butcher.section-2 p {
		padding-left: 25px;
		padding-right: 25px;
	}

	.home.section-1 .flexbox{
		flex-direction: column;
	}

	.home.section-1 .flexbox .flex-item:last-of-type {
		margin-top: 20px;
	}

	.footer-meta ul.flexbox {
		justify-content: flex-start;
		max-width: 320px;
		margin: 0 auto;
	}

	.footer-meta ul.flexbox li.flexbox:not([class*='social']) {
		justify-content: flex-start;
	}

	.site-footer .footer-widget #footer-right ul {
		justify-content: center;
	}

}

@media only screen and (max-width:620px) { 
	.subpage-navigation ul {
		flex-direction: column;
	}

	.subpage-navigation ul li a {
		padding: 15px;
	}

	.home.section-1 .flex-item .content {
		padding: 0 15px;
	}
}

@media only screen and (max-width:520px){

	div.wrap-banner div.wrap-icon {
		bottom: 15px;
	  left: 0;
	  right: 0;
	  margin: auto;
	  top: initial;
	  transform: initial;
	}
}

